<br>
<div>
  {{#each this.books as |book|}}
    <div class="mx-2 border border-success p-3">
      <p class="mx-4">Book Name :  {{book.bookName}}</p>
      <p class="mx-4">Author    :  {{book.author}}</p>
      <button class="mx-4" {{action "buythebook" book}}>buy this book</button>
    </div>
    <br>
  {{/each}}
</div>
<br>
{{yield}}