<div class="d-flex justify-content-around">
  <button class="btn btn-primary" {{action "log"}}>Login</button>
  <button class="btn btn-success" {{action "sign"}}>SignUp</button>
  <button class="btn btn-danger" {{action "books"}}>List of Books</button>
</div>
<h4 class="mx-4">Hii, Welcome.</h4>
<h5 class="mx-4">Are you new user please SignUp first</h5>
<h5 class="mx-4">After that you must be login using your Username and Password</h5>
<h5 class="mx-4">Click the List of Books button to know the available books here.</h5>
{{outlet}}